{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "retainLines": true,
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties"
  ]
}
