{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "targets": "> 0.25%, not dead",
        "forceAllTransforms": true,
      }
    ],
    "@babel/react"
  ],
  "retainLines": true,
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties"
  ]
}
